<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

    <!--<display-name>Mortgage Calculator</display-name>
    <description>
	I despise Apache for cluttering the web with these fields.
    </description>

    <context-param>
      <param-name>billy</param-name>
      <param-value>wbw20@case.edu</param-value>
      <description>
	Email me some ads.
      </description>
    </context-param>-->

    <servlet>
      <servlet-name>Mortgage Calculator</servlet-name>
      <servlet-class>MortgageCalculator</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>Mortgage Calculator</servlet-name>
      <url-pattern>/Mortgage_Calculator.do</url-pattern>
    </servlet-mapping>

<!--
    <http-method>GET</http-method>
    <http-method>POST</http-method>


    <session-config>
      <session-timeout>30</session-timeout>    
    </session-config>-->


</web-app>
