<html>
<body>

<h1>Mortgage Calculator</h1>

<FORM ACTION="postservlet" METHOD=POST>
<INPUT TYPE=TEXT NAME="price" SIZE=40 VALUE="Enter home price"><BR>
<INPUT TYPE=TEXT NAME="down" SIZE=40 VALUE="Enter down payment amount"><BR>
<INPUT TYPE=TEXT NAME="rate" SIZE=40 VALUE="Enter interest rate"><BR>
<INPUT TYPE=TEXT NAME="term" SIZE=40 VALUE="Enter term length"><BR>
<TEXTAREA ROWS=4 COLS=100 NAME="mortgage">Enter your mortgage information</TEXTAREA><BR>
<INPUT TYPE="SUBMIT" VALUE="SEND">
</FORM>


</body>
</html>
